<div class="container">
  <form>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="">Vencimento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="">Pagamento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="">Descrição</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="">Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Categoria</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Pessoa</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

    </div>
  </form>
</div>
